body {
  font-family: 'Raleway', sans-serif;
  color: #333;
}
h2,h2 a, span {
  color: #333;
}
a:hover {
  color: #f5ab35;
}
.abd-masonary-wrapper {
    background-color: #EEF0EF;
    padding: 80px 0;
}
.abd-intro {
  padding-bottom: 40px;
}
.abd-grid {
  margin-bottom: 30px;
}
.abd-inner-grid {
  background-color: #fff;
  box-shadow: 0 10px 6px -6px #999;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.abd-inner-grid:hover {
  box-shadow: 0 18px 24px -9px #999;
}
.abd-inner-grid figure {
    position: relative;
    margin-bottom: 0;
}
.abd-inner-grid figure a {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.abd-inner-grid figure a>span {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.4s;
    opacity: 0;
}
.abd-inner-grid figure a>span>i {
    line-height: 80px;
    font-size: 32px;
    color: #fff;
    transition: all 0.4s;
}
.abd-inner-grid figure:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.5);
    opacity: 0;
    transition: all 0.4s;
}
.abd-inner-grid figure a>span:hover {
    background-color: #fff;
}
.abd-inner-grid figure a>span:hover i {
    color: #777777;
}
.abd-inner-grid figure:hover:after,
.abd-inner-grid figure:hover a>span {
  opacity: 1;
}
.abd-blog-caption {
    padding: 20px;
}
.abd-blog-caption h2 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
}
.post-meta {
    font-size: 12px;
}
.post-meta span {
    display: inline-block;
    color: #aaa;
}
